nginx:
  build: ./nginx
  links:
    - elke
  ports:
    - 8080:80
    - 1935:1935
  volumes:
    - ./nginx/nginx.conf:/config/nginx.conf
    - ./data/video:/data
db:
  image: mongo
  ports:
    - 27017:27017
  volumes:
    - ./data/db:/data/db
elke:
  build: .
  links:
    - db
  command: nodemon src/
  environment:
    NODE_ENV: development
  volumes:
    - .:/home/node/elke
    - /home/node/elke/node_modules
    - /home/node/elke/bower_components
    - ./data/video:/data
