nginx:
  build: ./nginx
  links:
    - elke
  ports:
    - 8080:80
    - 1935:1935
  volumes:
    - ./nginx/nginx.conf:/config/nginx.conf
    - ./data/video:/data
db:
  image: postgres:9.6
  ports:
    - 5432:5432
  volumes:
    - ./data/postgresql:/var/lib/postgresql
  environment:
    POSTGRES_USER: 'docker'
    POSTGRES_PASSWORD: 'docker'
    POSTGRES_DB: 'elke'
elke:
  build: .
  links:
    - db
  command: nodemon src/
  environment:
    NODE_ENV: development
  volumes:
    - .:/home/node/elke
    - /home/node/elke/node_modules
    - /home/node/elke/bower_components
    - ./data/video:/data
