<section id="auth-form">
  <div class="container">
    <div class="four columns offset-by-four">
      <form ng-submit="auth()" class="main-form">
        <input type="email" ng-model="credentials.email" placeholder="Email" />
        <input type="password" ng-model="credentials.password" placeholder="Password" />
        <input type="submit" ng-hide="registration" value="Authenticate" />
        <input type="submit" ng-show="registration" value="Register" />
        <p ng-hide="app.active">
          <a ui-sref="auth({register:true})" ng-hide="registration">Register</a>
          <a ui-sref="auth({register:null})" ng-show="registration">Login</a>
        </p>
      </form>
    </div>
  </div>
</section>
