<div class="hero">
  <div class="container">
    <div class="twelve columns">
      <h2>Own your video network</h2>
      <p><a class="button" ui-sref="main.streamEdit">Create new stream</a></p>
    </div>
  </div>
</div>
<section id="streamings" ng-show="streamings.length">
  <div class="container">
    <div class="twelve columns">
      <ul class="streaming-list" ng-controller="StreamCtrl">
        <li ng-repeat="streaming in streamings" streaming-item="streaming"></li>
      </ul>
    </div>
  </div>
</section>
