<div class="hero">
  <div class="container">
    <div class="twelve columns">
      <h2>Own your video network</h2>
      <p><a class="button" ui-sref="main.streamEdit" ng-show="user">Create new stream</a></p>
    </div>
  </div>
</div>
<!-- <section id="peer-test" ng-controller="PeerCtrl">
  <p>Your ID: {{myID}}</p>
  <div class="peer-test-video">
    <h2>Their video</h2>
    <video id="their-video" autoplay ng-src="{{streamUrl}}"></video>
  </div>
  <div class="peer-test-video">
    <h2>My video</h2>
    <video id="my-video" muted="true" autoplay ng-src="{{myVideo}}"></video>
  </div>
  <input type="text" ng-model="callToID" />
  <button ng-click="makeCall()">Make call</button>
  <button ng-click="endCall()">End call</button>
</section> -->
<section id="streamings" ng-show="streamings.length">
  <div class="container">
    <div class="twelve columns">
      <ul class="streaming-list">
        <li ng-repeat="streaming in streamings" streaming-item="streaming"></li>
      </ul>
    </div>
  </div>
</section>
