<div class="streaming-item">
  <div class="container">
    <div class="four columns">
      <div class="streaming-info">
        <h3>{{streaming.title}}</h3>
        <a ui-sref="main.stream({id: streaming.id})">Details</a>
        <a ng-click="goLive(streaming)" href="javascript:void(0);" ng-show="streaming.status == 'pending'">Go live</a>
        <a ng-click="deleteStream(streaming)" href="javascript:void(0);" ng-hide="streaming.status == 'streaming'">Delete</a>
      </div>
    </div>
    <div class="eight columns">
      <div class="streaming-media" elke-media="streaming"></div>
    </div>
  </div>
</div>
