<article class="single-streaming">
  <div class="container">
    <div class="twelve columns">
      <h2>{{streaming.title}}</h2>
    </div>
  </div>
  <div class="streaming-content">
    <div class="container">
      <div class="eight columns">
        <div id="main-video" class="streaming-media" elke-media="streaming"></div>
        <section class="streaming-description">
          <p>{{streaming.description}}</p>
        </section>
      </div>
      <div class="four columns">
        <div class="streaming-comments" elke-comments="streaming"></div>
      </div>
    </div>
  </div>
</article>
